*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Light;
    src: url(../font/Roboto/Roboto-Light.ttf);
}
body{
    background: rgb(22,25,70);
    background: radial-gradient(circle, rgb(17, 19, 58) 0%, rgba(19,20,43,1) 100%);
    overflow: hidden;
    color: white;
}
.container{
    width: 100vw;
    height: 59em;
}
header{
    width: 100%;
    margin-left: 5em;
    margin-top: 5em;
}
h1{
    font-size: 4.5em;
}
header p{
    font-size: 5.5em;
}
.content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content p{
    width: 50vw;
    margin-left: 3.3em;
    margin-top: 1.5em;
    font-size: 1.5em;
}
.imagen{
    width: 100vw;
}
.imagen img{
    width: 50em;
    transform: rotate(-45deg);
    position: relative;
    left: 75em;
    top: -26em;
}
.twit{
    width: 40em;
    height: 4em;
    color: white;
    position: relative;
    bottom: 70em;
    display: flex;
    justify-content: space-evenly;
    margin-left: 13em;
}
.a1{
    font-size: 1.5em;
}
.a2{
    font-size: 1.5em;
}

@media screen and (max-width: 1000px){
    .container{
        width: 100vw;
        overflow: hidden;
    }
    h1{
        font-size: 2.5em;
    }
    header p{
        font-size: 3em;
    }
    .content p{
        margin-left: 5em;
        font-size: 1em;
    }
    .imagen img{
        width: 40em;
        left: 26em;
        top: -6em;
    }
}
@media screen and (max-width: 500px){
    .imagen img{
        width: 25em;
        left: 6em;
        top: -2em;
    }
}