@font-face {
    font-family: Roboto;
    src: url(../font/Roboto/Roboto-Light.ttf);
}
*{
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
body{
    background-image: url(../Img/Background.png);
    background-size: cover;
    overflow: hidden;
}
.Cuerpo{
    display: flex;
}
.Contents{
    display: flex;
    flex-direction: column;
}
.FactoryContent{
    width: 50em;
    text-align: center;
}
.Nav1{
    height: 47em;
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding-top: 17em;
    padding-left: 2em;
}
.Nav1 p{
    color: #ffffff;
}
header{
    width: 84em;
    height: 6em;
    text-align: center;
    padding-top: 2em;
}
.Head{
    width: 82em;
    height: 10em;
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-top: 2em;
}
.Head p{
    color: white;
    text-align: center;
    font-size: 1.2em;
}
.Content{
    width: 84em;
    height: 35em;
    padding-left: 15em;
}
.Rocket{
    margin-top: -0.7em;
    margin-left: 3em;
    display: flex;
    flex-direction: column;
}
#Rocket{
    z-index: 3;
    width: 50em;
    height: 30em;
    border-radius: 2em;
    box-shadow: 7px 7px 23px #1a1c48;
    transition: all 2s;
    cursor: pointer;
}
#Rocket:hover{
    transform: scale(1.2);
}
#Shadow{
    position: relative;
    bottom: 5em;
}
footer{
    width: 100vw;
    height: 15em;
}
.Nav1 h5, p{
    color: #9499c3;
}
.Nav1 P{
    opacity: 40%;
}
.Nav1 i{
    color: #9499c3;
    transform: scale(1.8);
    padding-top: 0.6em;
}
.Box1, .Box2, .Box3, .Box4{
    display: flex;
    gap: 1em;
    line-height: 1.5em;
}
.Content{
    display: flex;
    justify-content: space-between;
}
.nav2{
    height: 56.5em;
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 2em;
    left: 84vw;
    position: absolute;
    padding-top: 6em;
    padding-left: 2em;
}
#imagen{
    width: 200px;
    height: 300px;
    transform: translateY(-211.9em);
    animation: BarraIzq 25s linear infinite;
    z-index: -2;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;
}
footer{
    display: flex;
    justify-content: center;
    border-bottom: 9.5em solid #1a1c48;
    z-index: 3;
}
.CajaBottom{
    width: 25vw;
    height: 5em;
    background-color: #1a1c48;
    margin-top:1.2em;
    border-top-left-radius: 17.5px;
    border-top-right-radius: 17.5px;
}
.CajaBottom::after{
    content: "";
    position: relative;
    margin-top: 10px;
    right: 461px;
    top: -48px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 68px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 79px solid #1a1c48;
}
.CajaBottom::before{
    content: "";
    position: relative;
    margin-top: 10px;
    right: -473.5px;
    top: -48px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 68px solid transparent;
    border-bottom: 79px solid #1a1c48;
}
.CajaBottom i{
    transform: scale(2);
    margin: 2em;
    cursor: pointer;
}
@keyframes BarraIzq {
    to{
        transform: translateY(80em);
    }
}