@font-face {
    font-family: Roboto;
    src: url(/font/Roboto/Roboto-Light.ttf);
}
*{
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
body{
    background-image: url(/Img/Background.png);
    background-size: cover;
    overflow: hidden;
}
.Contents{
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
header{
    text-align: center;
    padding-top: 2em;
    margin-bottom: -1em;
}
.text_History{
    background-color: rgb(223, 129, 7);
    height: 3em;
    text-align: center;
}
.Head{
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    height: 38em;
}
.HistoryContent{
    display: flex;
    flex-direction: column;
}
#videito{
    width: 30em;
    margin-top: 1.5em;
    border-radius: 5em;
}
.Content{
    width: 100vw;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-evenly;
}

footer{
    display: flex;
    justify-content: center;
    border-bottom: 6em solid #1a1c48;
    width: 100vw;
    height: 10em;
}
footer i{
    transform: scale(2);
}
.CajaBottom{
    width: 30em;
    height: 5em;
    background-color: #1a1c48;
    border-top-left-radius: 17.5px;
    border-top-right-radius: 17.5px;
}
.CajaBottom::after{
    content: "";
    position: relative;
    margin-top: 10px;
    right: 461px;
    top: -48px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 68px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 79px solid #1a1c48;
}
.CajaBottom::before{
    content: "";
    position: relative;
    margin-top: 10px;
    right: -473.7px;
    top: -48px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 68px solid transparent;
    border-bottom: 79px solid #1a1c48;
}
.CajaBottom i{
    transform: scale(2);
    margin: 2em;
    cursor: pointer;
}
.cajaLeft{
    height: 38em;
    background-color: aqua;
    
}
.BoxLeft{
    background-color: #1a1c48;
    width: 15em;
    height: 5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    box-shadow: 1px 4px 10px black;
    cursor: pointer;
}
.cajaRight{
    height: 38em;
    background-color: aqua;
}
.BoxRight{
    background-color: #1a1c48;
    width: 15em;
    height: 5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    box-shadow: 1px 4px 10px black;
    cursor: pointer;
}