*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Light;
    src: url(../font/Roboto/Roboto-Light.ttf);
}
body{
    background: rgb(22,25,70);
    background: radial-gradient(circle, rgb(17, 19, 58) 0%, rgba(19,20,43,1) 100%);
    overflow: hidden;
    color: white;
}
.container{
    width: 100vw;
    height: 59em;
}
header{
    width: 100%;
    margin-left: 5em;
    margin-top: 5em;
}
h1{
    font-size: 4.5em;
}
header p{
    font-size: 5.5em;
}
.content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content p{
    width: 50vw;
    margin-left: 3.3em;
    margin-top: 1.5em;
    font-size: 1.5em;
}

.imagen img{
    width: 50em;
    transform: rotate(-45deg);
    position: relative;
    left: 75em;
    top: -26em;
}
.caja{
    background-color: bisque;
    width: 80em;
}
/*.twit{ 
    width: 50em;
    height: 4em;
    position: relative;
    bottom: 70em;
    display: flex;
    justify-content: space-evenly;
    margin-left: 11em;
}
.twit a{
    text-decoration: none;
    color: white;
}
.a1{
    font-size: 1.5em;
    cursor: pointer;
    height: 2em;
    width: 12em;
    text-align: center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    border-radius: 7px;
    transition: 0.5s;
    transition-property: box-shadow;
}
.a1{
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
}
.a1:hover{
    box-shadow: 0 0 2px rgb(0,140,255),
                0 0 5px rgb(0,140,255),
                0 0 10px rgb(0,140,255),
                0 0 20px rgb(0,140,255);
}
.a2{
    font-size: 1.5em;
    cursor: pointer;
    height: 2em;
    width: 12em;
    text-align: center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    border-radius: 7px;
    transition: 0.5s;
    transition-property: box-shadow;
}
.a2{
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
}
.a2:hover{
    box-shadow: 0 0 2px rgb(0,140,255),
                0 0 5px rgb(0,140,255),
                0 0 10px rgb(0,140,255),
                0 0 20px rgb(0,140,255);
}
.btn{
    width: 10em;
    height: 2em;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
}
.boton_next{
    font-size: 1.5em;
    cursor: pointer;
    height: 2em;
    width: 12em;
    text-align: center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    border-radius: 7px;
    transition: 0.5s;
    transition-property: box-shadow;
}
.url::after{
    content: "Camper: María Lizarazo";
}
.url2::after{
    content: "Camper: Jerxon Correa";
}
.boton_next{
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
}
.boton_next:hover{
    box-shadow: 0 0 2px rgb(0,140,255),
                0 0 5px rgb(0,140,255),
                0 0 10px rgb(0,140,255),
                0 0 20px rgb(0,140,255);
}
*/
/* Responsive IPHON 14 PRO MAX */
@media screen and (max-width: 1000px){
    .container{
        width: 100vw;
        overflow: hidden;
    }
    h1{
        font-size: 2.5em;
    }
    header p{
        font-size: 3em;
    }
    .content p{
        margin-left: 5em;
        font-size: 1em;
    }
    .imagen img{
        width: 40em;
        left: 26em;
        top: -6em;
    }
    .twit{
        width: 27em;
        color: white;
        position: relative;
        right: 10em;
        bottom: 50em;
        display: flex;
        justify-content: space-evenly;
    }
    .a1{
        font-size: 1em;
        border: 1px solid black;
        height: 2em;
        width: 12em;
        text-align: center;
        border-radius: 12px;
    }
    .a2{
        font-size: 1em;
        border: 1px solid black;
        height: 2em;
        width: 12em;
        text-align: center;
        border-radius: 12px;
    }
}
@media screen and (max-width: 500px){
    .imagen img{
        display: none;
    }
    .twit{
        width: 35em;
        color: white;
        
        display: flex;
        justify-content: space-evenly;
        margin-bottom: -7em;
    }
    .a1{
        font-size: 1em;
        border: 1px solid black;
        height: 2em;
        width: 9em;
        text-align: center;
        border-radius: 12px;
    }
    .a2{
        font-size: 1em;
        border: 1px solid black;
        height: 2em;
        width: 9em;
        text-align: center;
        border-radius: 12px;
    }
    .url::after{
        content: "María Lizarazo";
    }
    .url2::after{
        content: "Jerxon Correa";
    }
    
}