*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Light;
    src: url(../font/Roboto/Roboto-Light.ttf);
}
body{
    background: rgb(22,25,70);
    background: radial-gradient(circle, rgb(17, 19, 58) 0%, rgba(19,20,43,1) 100%);
    overflow: hidden;
    color: white;
}
.container{
    width: 100vw;
    height: 59em;
}
header{
    width: 100%;
    height: 20%;
    margin-left: 5em;
    margin-top: 5em;
}
h1{
    font-size: 3em;
}
header p{
    font-size: 3.3em;
}